/* styles.css */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
}

.news-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.news-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.news-item h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.news-item p {
    margin: 0;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width:1400px;
    margin:0 auto;
    padding: 20px 10px ;
    gap:20px;

}

.sizing{
    width: 100%;
   
    max-width:400px;
    object-fit:cover;
    
}

.gallery::after{
    content:"";
    width:350px;
  }
